h1{
    text-align: center;
    color: rgb(47, 0, 0);
}

body{
    background-image: url(./image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(44, 2, 2);
}

.survey{
    background: rgba(162, 179, 64, 0.92);
    width: 600px;
    height: 550px;
    margin: 45px auto;
    border-radius: 10px;
    padding: 28px 32px 22px 32px;
}

button{
    background-color: rgba(87, 83, 194, 0.897);
    padding: 3px 9px 3px 9px;
    /* margin: 15px 0px 20px 10px; */

}

td{
    padding: 8px 5px;
}

button:hover{
    background-color: rgb(78, 38, 3);
    color: wheat;
}